.event-card{
    min-height: 200px;
    margin: 5px 5px 30px 5px;
    box-shadow: #424558 0px 1px 6px -2px;
}

.event-card:hover{
    box-shadow: #424558 0px 1px 6px -1px;
    transition: all .3s ease-in;
}

.event-card .img{
    background: url('../../images/jpg/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.event-card .img .card-img-price{ 
    height: 35px;
    border-radius: 6px; 
    background-color: #fff;
    color: #1f253f;
    padding: 5px 15px;
    margin-top: 10px;
    opacity: .9;
}

.event-card .img .far{ 
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .4s ease-in;
}

.event-card .img .fas{
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    color: #F70F0F;
    transition: all .4s ease-in;
}

.event-card .details{
    padding: 4px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-card .details .event_name{
    color: #F70F0F;
    font-weight: bold;
}

.event-card .details .event-time{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.event-card .details .event-time span{
    display: inline;
}