#user-card{
    margin-top: 100px;
}


#user-card .section-title{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #424558;
    font-weight: 700;
}

#user-card .section-title h3 span{
    color: #F70F0F;
}

#user-card .card-container{
    color: #424558;
    border-radius: 6px;
    font-weight: 200;
    margin-top: 20px;
    padding: 10px;
    box-shadow: #424558 0px 1px 6px -2px;
    font-size: 20px;
}


#user-card .card-container h3{
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
}

#user-card .card-container:hover{
    transition: all .4s ease-in-out;
    box-shadow:  #424558 0px 1px 6px -.4px;
}


#user-card .card-container p{
    margin-top: 10px;
}

#user-card .card-manager{
    transform: scale(1.06);
}

#user-card .card-manager:hover{
    transform: scale(1);
    background-color: #F70F0F;
    color: #fff;
    transition: all .5s ease-in;
}

#user-card .card-container .card-container-btn{
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: #424558;
    color: #fff;
}

#user-card .card-container .card-container-btn:hover{
    text-decoration: none;
    cursor: pointer;
}

#user-card .card-manager:hover .manager-btn{
    background-color: #fff;
    color: #F70F0F;
    text-decoration: none;
}

#user-card .card-user:hover .user-btn{
    background-color: #F70F0F;
    color: #fff;
    transition: all .5s ease-in-out;
    text-decoration: none;
}


#user-card .card-container ul li:hover{
    transform: translate(8px);
    transition: all .3s ease-in-out;
}