.logo h3, .logo span{
    letter-spacing: 8px;
    color: #fff;
    opacity: .97;
    font-family: 'Lobster';
    font-size: 30;
}

.logo h3 .e-letter, .logo h3 .h-letter{
    text-transform: uppercase;
    font-size: 40px;
    color: #F70F0F;
}

/* .logo h3{
    border-bottom: 5px dashed #fff;
} */