.navbar{
    z-index: 1000;
}
.navbar .nav-item .nav-link{
    text-transform: uppercase;
}

.navbar .nav-item .nav-link:hover{
    color: #F70F0F;
    transition: all .4s ease-in;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover{
    color: #F70F0F;
}